fastapi
uvicorn
sqlalchemy
pymysql
cryptography
pydantic
python-dotenv
python-dateutil
python-multipart
passlib[bcrypt]
python-jose[cryptography]
librosa
joblib
scikit-learn
soundfile
numpy
openai
bcrypt==4.0.1
