@tailwind base;
@tailwind components;
@tailwind utilities;


/* Keep local utility parity with prototype */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
